// Variables
$website-width: 1280px;
$primary-color: #fea962;
$secondary-color: #13212e;
$light-color: #c6d5e2;
$bg-image: url('/img/hero_image.jpg');

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 50) {
      @return $secondary-color;
    } @else {
      @return $light-color;
    }
  }

